@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 247);
}

.wrapper {
    height: 100%;
    width: 100%;
    /* background-color: #f5f5f7; */
}

.navigation {
    width: 100%;
    height: 60px;
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    color: black;
    text-decoration: none;
    margin: 0 1vw;
    font-size: .7vw;
}

.navigation i {
    margin: 1vw;
    font-size: 1vw;
}

.menubutton {
    display: none;
}

.lower-navigation {
    width: 100%;
    height: 65px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-navigation p span {
    color: blue;
}

.lower-navigation p {
    font-size: .75vw;
}

.lower-navigation p span:hover {
    cursor: pointer;
}

/* Store class styling */

.store {
    width: 100%;
    height: 30vh;
    /* background-color: darkorange; */
    display: flex;
}


.left-store {
    width: 70%;
    height: 100%;
    /* background-color: purple; */
    padding: 2vw 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-store h1 {
    font-size: 2.5vw;
    color: rgb(100, 100, 100);
    width: 60%;
    font-weight: 500;
}

.left-store h1 span {
    color: black;
}

.right-store {
    width: 30%;
    height: 100%;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-store-card {
    height: 50%;
    width: 80%;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-right-store-card {
    height: 50%;
    width: 60%;
    /* background-color: lightseagreen; */
    display: flex;
}

.profile {
    width: 25%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-content {
    width: 75%;
    height: 100%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-content h3 {
    font-size: .8vw;
    font-weight: 500;
}

.profile-content p {
    color: blue;
    font-size: .75vw;
}

.actual-profile {
    height: 3vw;
    width: 3vw;
    /* background-color: crimson; */
    border-radius: 50%;
    background-image: url(profile.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile i {
    font-size: 2vw;
}

.product {
    height: 20vh;
    width: 100%;
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    height: 90%;
    width: 90%;
    background-color: darkorange;
}

.swiper-wrapper {
    height: 100%;
    width: 100%;
    background-color: pink;
}

.card {
    height: 100%;
    width: 12%;
    /* background-color: white; */
}

.upper-card {
    height: 70%;
    width: 100%;
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-card img {
    width: 90%;
}

.lower-card {
    height: 30%;
    width: 100%;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.lower-card p {
    font-size: 1vw;
}

.latest {
    /* height: 100vh; */
    height: fit-content;
    width: 100%;
    /* background-color: lightpink; */
    padding: 1vw;

}

.latest h1 {
    color: rgb(100, 100, 100);
    margin-left: 5vw;
    font-weight: 500;
    padding: 1vw 0;
}

.latest h1 span {
    color: black;
}

.latest-swiper {
    height: 70vh;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card {
    height: 100%;
    width: 23%;
    border-radius: 10px;
    /* background-color: crimson; */
    background-image: url(10.jpeg);
    background-size: cover;
    background-position: center;
    padding: 2vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.big-card h2 {
    font-weight: 500;
    font-size: 1.8vw;
}

.big-card p {
    font-weight: 400;
    font-size: .9vw;
    width: 90%;
}

.second-card {
    background-image: url(11.jpeg);
}

.third-card {
    background-image: url(12.jpeg);
}

.fourth-card {
    background-image: url(13.jpeg);
}

.fifth-card {
    background-image: url(14.jpeg);
}

.sixth-card {
    background-image: url(15.png);
}

.seventh-card {
    background-image: url(16.jpeg);
}

.eighth-card {
    background-image: url(17.jpeg);
}

.ninth-card {
    background-image: url(18.jpeg);
}

.tenth-card {
    background-image: url(19.jpeg);
}

.eleventh-card {
    background-image: url(20.jpeg);
}

.help {
    height: fit-content;
    width: 100%;
    /* background-color: lightpink; */
    padding: 1vw;
}

.help h1 {
    color: rgb(100, 100, 100);
    margin-left: 5vw;
    font-weight: 500;
    padding: 1vw 0;
}

.help h1 span {
    color: black;
}

.help-swiper {
    height: 70vh;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-card {
    height: 100%;
    width: 40%;
    border-radius: 10px;
    /* background-color: crimson; */
    background-image: url(21.jpeg);
    background-size: cover;
    background-position: center;
    padding: 2vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.help-card p {
    font-size: 1.1vw;
}

.help-card h1 {
    margin: 0;
    color: black;
    line-height: 1.2;
    font-size: 2vw;
}

.help-card h3 {
    margin: 0;
    color: black;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.1vw;
}

.last-help-card {
    height: 100%;
    width: 40%;
    background-color: crimson;
    border-radius: 10px;
    /* background-color: crimson; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-image: url(25.jpeg);
    background-size: cover;
    background-position: center;
}

.last-help-card h1 {
    margin: 0;
    color: black;
    line-height: 1.2;
    font-size: 2vw;
}

.upper-last-help-card {
    height: 80%;
    width: 100%;
    /* background-color: darkorange; */
    padding: 2vw;
}

.lower-last-help-card {
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2vw;
}

.lower-last-help-card p {
    font-size: 1.1vw;
}

.second-help-card {
    background-image: url(22.jpeg);
}

.third-help-card {
    background-image: url(23.jpeg);
}

.fourth-help-card {
    background-image: url(24.jpeg);
}

.difference {
    height: fit-content;
    width: 100%;
    /* background-color: darkred; */
    padding: 1vw;
}

.difference h1 {
    color: rgb(100, 100, 100);
    margin-left: 5vw;
    font-weight: 500;
    padding: 1vw 0;
}

.difference h1 span {
    color: black;
}

.difference-swiper {
    height: 40vh;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.difference-card {
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 1vw 2vw;
}

.difference-card h1 {
    font-size: 1.7vw;
    margin: 0;
    line-height: 1.3;
}

.first-difference h1 span,
.first-difference i,
.sixth-difference i,
.sixth-difference h1 span {
    color: blue;
}

.difference-card i {
    font-size: 2.8vw;
}

.second-difference h1 {
    background: linear-gradient(to left, purple, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-difference i {
    background: linear-gradient(to right, rgb(255, 191, 0), rgb(255, 145, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.third-difference h1 span,
.third-difference i {
    color: rgb(184, 0, 184);
}

.fourth-difference i,
.fourth-difference h1 span,
.fifth-difference h1 span,
.fifth-difference i {
    color: rgb(0, 211, 0);
}






.light {
    color: white;
}

.light h1 {
    color: white;
}

@media (min-width: 1px) and (max-width: 425px) {

    .navigation {
        justify-content: space-between;
    }

    .navigation a {
        display: none;
    }

    .navigation img {
        height: 46%;
        margin: 0 2vh;

    }

    .navigation i {
        font-size: 2vh;
    }

    .menubutton {
        display: block;
    }

    .icon-div {
        /* background-color: lightgreen; */
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .icon-div i {
        font-size: 2.6vh;
    }

    .lower-navigation {
        padding: 2vh 3vh;
    }

    .lower-navigation p {
        font-size: 1.4vh;
        text-align: center;
    }

    .store {
        flex-direction: column;
        height: fit-content;
    }

    .left-store {
        width: 100%;
        padding: 3vh;
        height: fit-content;
    }

    .left-store h1 {
        font-size: 4.5vh;
        width: 90%;
        line-height: 1.3;
    }

    .right-store {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vh;
    }

    .right-store-card {
        height: 20vh;
        /* background-color: white; */
        width: 100%;
    }

    .inner-right-store-card {
        width: 100%;
        height: 100%;
        /* background-color: lightblue; */
    }

    .actual-profile {
        height: 6vh;
        width: 6vh;
    }

    .profile {
        justify-content: flex-start;
        width: 15%;
        /* background-color: cadetblue; */
    }

    .profile i {
        font-size: 4.5vh;
    }

    .profile-content h3 {
        font-size: 2vh;
    }

    .profile-content p {
        font-size: 2vh;
    }

    .product {
        height: 23vh;
    }

    .lower-card p {
        font-size: 2vh;
    }

    .latest {
        height: fit-content;
    }

    .latest h1 {
        font-size: 3.5vh;
        line-height: 1.3;
        /* padding: 2vh; */
        margin-top: 1vh;
    }

    .latest-swiper {
        height: 70vh;
    }

    .big-card {
        padding: 3vh;
    }

    .big-card p {
        font-size: 2vh;
    }

    .big-card h2 {
        font-size: 3.5vh;
    }

    .help h1 {
        font-size: 3.5vh;
        line-height: 1.1;
    }

    .help-card {
        padding: 3vh;
    }

    .help-card p {
        font-size: 2vh;
    }

    .help-card h1 {
        font-size: 3.5vh;
    }

    .help-card h3 {
        font-size: 2vh;
        margin: .6vh 0;
    }

    .upper-last-help-card {
        padding: 3vh;
    }

    .upper-last-help-card h1 {
        font-size: 4vh;
    }

    .upper-last-help-card p {
        font-size: 2vh;
    }

    .lower-last-help-card p {
        font-size: 2vh;
    }

    .difference h1 {
        font-size: 3.5vh;
        line-height: 1.1;
        padding: 2vh 0;
    }

    .difference-card {
        padding: 3vh;
    }

    .difference-card i {
        font-size: 5vh;
    }

    .difference-card h1 {
        font-size: 3.5vh;
        line-height: 1.2;
    }

}



@media (min-width: 426px) and (max-width: 768px) {
    .lower-card p {
        font-size: 2.3vh;
    }
}